<?php
    define('URL', 'http://localhost/crudphpmvc/');
    define('HOST', 'localhost');
    define('DB', 'crudpeliculas');
    define('USER', 'root');
    define('PASSWORD', '12345');
    define('CHARSET', 'utf8mb4');
?>
